doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Fast Routes Example
  body
    a(href='homePage' class='fast-route') Home Page
    a(href='contactPage' class='fast-route') Contact Page
    script(src='js/bundle.js')

